<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Cookie" value=""/>
		<add key="Set" value="NEO"/>
		<add key="Source" value="ContentCreatorOpinion"/>
		<!-- 17Lands, ContentCreatorOpinion -->
		<add key="TimeSpanType" value="PastDays"/>
		<!-- PastDays, StartDate -->
		<add key="TimeSpanValue" value="7"/>
		<!-- PastDays: 1, 7, 14, 100, ... StartDate: 2022-01-30, ... -->
		<add key="DraftType" value="PremierDraft"/>
		<!-- PremierDraft, TradDraft, Sealed -->
		<add key="RatingType" value="AbsoluteWin"/>
		<!-- AvgPick, AbsoluteWin, RelativeWin -->
	</appSettings>
</configuration>