<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Cookie" value="ARRAffinity=748c51932cff5fdd254342a854a9135b601c1144f061a501f4a5191abad6c398; ARRAffinitySameSite=748c51932cff5fdd254342a854a9135b601c1144f061a501f4a5191abad6c398; userEmail=; idsrv.session=HfhtTrgZH5XDTiphCluUXw; idsrv=CfDJ8Lz5LuqNaQJMmdTQ5AjDH7G012LkojX5b_woLQ1kh4S7Bh3k_1M8v-20ffFHsYG0Zp5x_lAxjm3ipiXvhFaV4Lba4q3uce6haAG3Va7ikrp4HiewbPZV4r6wkn4OVQSGx7jsCtadgqED7bXbFWeXfkv8bpCogagwvOcdxZJFwHxnwWa5RobwHJ23FWQCu7_0RKrGecb_jdVlwLRUm14rkpSGUob6zlEltOVoTBPILnjgS1I2pHxzp_r6ndTYYqqLS6ZEtCQZVa6CxuyAXQTXz-kTvJurrByosUqLKwZzGhDXS9UOtcNmb1mfeShJSPQU7FYHB8LvQjzLGMHS00pMOVE5iHYZw5MmsGYb7ZK-igbSlR6k12NYqC72abRHBeWQw_oDbseGyTi6zVcv53rVG6ljIJyTdsimO2ovxKCo3k-0AIrY5YBj7m3wcI0Xm05KBrJ0NTxilhZkdm3MG8VIDoBW0pTD6fhRyzXENNaRZFr0qgl9yKrEAR9b7bCyqRvin85a51jGWedpdkfwm275qj4; userId=7e16cc2ec4c245b5bbb7ab3c36f126ad"/>
		<add key="Set" value="VOW"/>
		<add key="Source" value="17Lands"/>
		<!-- 17Lands, ContentCreatorOpinion -->
		<add key="TimeSpanType" value="PastDays"/>
		<!-- PastDays, StartDate -->
		<add key="TimeSpanValue" value="7"/>
		<!-- PastDays: 1, 7, 14, 100, ... StartDate: 2022-01-30, ... -->
		<add key="DraftType" value="PremierDraft"/>
		<!-- PremierDraft, TradDraft, Sealed -->
		<add key="RatingType" value="AbsoluteWin"/>
		<!-- AvgPick, AbsoluteWin, RelativeWin -->
	</appSettings>
</configuration>