<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="cookie" value="?"/>
		<add key="set" value="VOW"/>
		<add key="load" value="remote"/>
		<!-- remote, local-->
		<add key="timespantype" value="PastDays"/>
		<!-- PastDays, StartDate -->
		<add key="timespanvalue" value="21"/>
		<!-- PastDays: 1, 7, 14, 100, ... StartDate: 2022-01-30, ... -->
		<add key="drafttype" value="PremierDraft"/>
		<!-- PremierDraft, TradDraft, Sealed -->
		<add key="ratingtype" value="AbsoluteWin"/>
		<!-- AvgPick, AbsoluteWin, RelativeWin -->
	</appSettings>
</configuration>